BooksStorage/bin/*
BooksStorage/obj/*
BooksStorage/packages/*
BooksStorage.Mail/bin/*
BooksStorage.Mail/obj/*
BooksStorage.Mail/packages/*
BooksStorage.Tests/bin/*
BooksStorage.Tests/obj/*
BooksStorage.Tests/packages/*
riderModule.iml
/_ReSharper.Caches/
.vscode/
.idea/
