<div class="addbook">
  <h1>Add New Books</h1>
  <form [formGroup]="bookForm" (ngSubmit)="submitBook()">
    <div class="grid">
      <label for="name">
        Book Name
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Book Name"
          required
          formControlName="name"
        />
      </label>

      <label for="author">
        Author Name
        <input
          type="text"
          id="author"
          name="author"
          placeholder="Author Name"
          required
          formControlName="author"
        />
      </label>
    </div>

    <div class="grid">
      <label for="publicationYear">
        Year of Publication
        <input
          type="text"
          id="publicationYear"
          name="publicationYear"
          placeholder="Year of Publication"
          required
          formControlName="publicationYear"
        />
      </label>

      <label for="price">
        Price
        <input
          type="text"
          id="price"
          name="price"
          placeholder="Price"
          required
          formControlName="price"
        />
      </label>
    </div>

    <div class="grid">
      <label for="category">
        Category
        <select id="category" required formControlName="category">
          <option value="" selected>Selecione uma categoria...</option>
          <option>Ação</option>
          <option>Drama</option>
          <option>Suspense</option>
          <option>Programação</option>
        </select>
      </label>

      <label for="email">
        Email
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
          formControlName="email"
        />
      </label>
    </div>

    <button type="submit" [disabled]="!bookForm.valid">Submit</button>
  </form>
</div>
